.change-button {
  font-size: 15px;
  position: absolute;
  right: 450px;
  width: 200px;
  height: 120px;
  cursor: pointer;
}

#header {
  list-style-type: none;
  text-align: center;
  font-weight: bolder;
}

.account-list {
  margin: 25px;
}

.password-form {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}